@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

::selection {
    @apply bg-transparent text-indigo-400 dark:text-indigo-200;
}

::-moz-selection {
    @apply bg-transparent text-indigo-400 dark:text-indigo-200;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill::first-line,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
    @apply autofill:shadow-[inset_100vh_100vw_#f0f0f0] w-11/12;
    @apply dark:autofill:shadow-[inset_100vh_100vw_#161818] w-11/12;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
